* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
    /* cursor: pointer; */
    font-family: 'AS60';
    cursor: url('Cursor/CursorHand.png'), auto;
}

body {
    background: linear-gradient(to bottom, rgb(255, 29, 184), rgb(68, 15, 226), rgb(15, 226, 54)); /* Static vertical gradient from black to blue */
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    min-height: 100vh; 

}

@font-face { 
    font-family: 'AS60'; 
    src: url(Typeface/authentic-sans-condensed-60.otf);
} 


@font-face { 
    font-family: 'AS130'; 
    src: url(Typeface/authentic-sans-condensed-130.otf);
} 

.authenticsans130 {
    font-family: 'AS130';
}



@font-face { 
    font-family: 'Nonsense'; 
    src: url(Typeface/Nonsense.otf);

} 

.nonsense {
    font-family: 'Nonsense';
    font-weight: normal;
    padding:0;
    margin:0;
    font-size: clamp(1.185em, 1vw, 10em);
    line-height: 0;
}



@font-face { 
    font-family: 'Branches'; 
    src: url(Typeface/Branches.otf);
} 


@font-face { 
    font-family: 'Chancery'; 
    src: url(Typeface/AppleChancery.ttf);
} 

.hover-text:hover {
    color: yellow; /* Color on hover */
}


h3 {
    font-size: clamp(2.4em, 4.7vw, 20em); /* Responsive font size */
    color: transparent; /* Makes the fill transparent */
    -webkit-text-stroke: 0.03em white; /* Sets the outline thickness and color */
    background-color: transparent;
    font-weight: normal;
    line-height: 1.5;
    font-family: chancery;
}

h1 {
    font-size: clamp(1.8em, 3.4vw, 20em); /* Responsive font size */
    color: white;
    background-color: transparent;
    font-weight: normal;
    line-height: 1.15;
    } 
    


h2 {
    font-size: clamp(1.2em, 2.3vw, 20em);
    color: white;
    background-color: transparent;
}



a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    
}

/* Hyperlinks: */
.hyperlink:hover {
    color: yellow; /* Color on hover */
    cursor: url('Cursor/CursorHand.png'), auto;
}


/* Highlighted Text Yellow */
::selection {
    background: yellow;
    color: rgb(0, 0, 0); /* Optional: change the text color when selected */
}

/* For Firefox */
::-moz-selection {
    background: yellow;
    color: rgb(0, 0, 0); /* Optional: change the text color when selected */
}


/* Icons Index Page */

i {
    color: rgb(255, 255, 255); /* Default color for icons */
    vertical-align: -0.01em; /* Adjusts the icon to move slightly up from the middle line */
    font-size: 0.8em; /* Set the icon size to 90% of the h1 font size */
}

/* Index Back Button */

.back-button {
    border: 0.05em solid rgb(255, 255, 255); /* White border */
    border-radius: 10em; /* Circular edges */
    padding: 0.25em; /* Padding for spacing */
    background: linear-gradient(135deg, #e7e4e4, #ab9d9d, #d0cdcd);
    color: rgb(255, 255, 255); /* White text color */
    position: fixed; /* Keeps the button in the same position relative to the viewport */
    top: 1%; /* Distance from the top of the viewport */
    right: 1%; /* Distance from the right of the viewport */
    text-align: center; /* Centres the text */
    line-height: 1; /* Ensures proper alignment */
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.6), inset 0 0 5px rgba(255, 255, 255, 0.4); /* Soft outer shadow and inner shine */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease; /* Smooth transition on hover */
    font-size: clamp(1.8em, 3.6vw, 20em); /* Responsive font size */
}


.back-button:hover {
    /* color: red;  */
    /* border-color: red;  */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.6), inset 0 0 10px rgba(255, 255, 255, 0.6); /* Enhanced shadow and stronger inner shine on hover */
    transform: translateY(-4px); /* Button appears to lift slightly on hover */
    background: linear-gradient(135deg, #e7e4e4, #ab9d9d, #d0cdcd);
}








/* General container style for centering and layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

/* Image styling */
.container img {
    max-width: 53vw; /* Scale the images so they don't take up the whole screen */
    max-height: 76vh;
    height: auto;
    margin-bottom: 3vw; /* Adds space between images */
}

/* Video styling */
.container video {
    max-width: 53vw; /* Scale the images so they don't take up the whole screen */
    height: auto;
    margin-bottom: 3vw; /* Adds space between video and other content */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container img,
    .container video {
        max-width: 70%; /* Sets width relative to the viewport on mobile */
        max-height: none; /* Removes the height constraint on smaller screens */
    }
}
        


/* Editable Text */

.size-display120px {
    color: #ffffff;
    text-align: center;
    margin-top: 8%;
    margin-bottom: -0.7%;
}

.editable-text120px {
    font-size: clamp(80px, 9vw, 400px); /* Responsive font size */
    outline: none;
    border: none;
    background: transparent;
    color: #ffffff;
    cursor: text;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    letter-spacing: 0.01em;
    line-height: 1.2;
}

.size-display50px {
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1.5%;
}

.editable-text50px {
    font-size: clamp(30px, 3.45vw, 300px); /* Responsive font size */
    outline: none;
    border: none;
    background: transparent;
    color: #ffffff;
    cursor: text;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 10%;
    word-spacing: 0.05em;
    line-height: 1.2;
}













