* {
    margin:0;
    padding: 0;
    border: none;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Eliza';
}

@font-face { 
    font-family: 'Eliza'; 
    src: url(Typeface/ElizaMono.ttf);
} 

.hover-text:hover {
    color: red; /* Color on hover */
}

h1 {
    font-size: 0.9em;
    padding-left: 0.8%;
    padding-right: 0.8%;
    padding-top: 0.8%;
    color: white;
    /* max-width: 45em; */
}



a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}

/* Hyperlinks: */
.hyperlink:hover {
    color: red; /* Color on hover */
}


/* Highlighted Text Red */
::selection {
    background: red;
    color: white; /* Optional: change the text color when selected */
}

/* For Firefox */
::-moz-selection {
    background: red;
    color: white; /* Optional: change the text color when selected */
}




/* Back Button */
.back-button {
    border: 0.075em solid rgb(255, 255, 255);
    border-radius: 2em;
    padding: 0.28%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0.8%;
    right: 0.89em;
    font-family: Scotch;
}

.back-button:hover {
    color: red;
    border-color: red;
}

.back-button:hover h1 {
    color: red; /* Ensures the text inside the button changes to red on hover */
}





/* General container style for centering and layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.8em;
}

/* Image styling */
.container img {
    max-width: 35em; /* Scale the images so they don't take up the whole screen */
    max-height: 30em;
    height: auto;
    margin-bottom: 1.8em; /* Adds space between images */
}

/* Video styling */
.container video {
    max-width: 35em; /* Same width for video */
    height: auto;
    margin-bottom: 1.8em; /* Adds space between video and other content */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container img,
    .container video {
        width: 99vw; /* Sets width relative to the viewport on mobile */
        max-height: none; /* Removes the height constraint on smaller screens */
    }
}
        





        










